$primary-title-color: #212121;
$secondary-text-color: #757575;
$primary-background-color: #ffffff; /*изменить на #ffffff */
$accent-color: #2196f3;
$section-background-color: #f5f4fa;
$header-background-color: #ffffff;
$hero-white-color: #ffffff;
$portfolio-background: rgba(33, 150, 243, 0.9);
$button-white-text: #ffffff;
$fotter-background-color: #2f303a;
$duration: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
$font-roboto: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
