/* секция чем мы занимаемся */
.section-activity {
  padding-bottom: 94px;

  .activity-title {
    @extend %font-big;
    text-align: center;
    margin-bottom: 50px;
  }

  .activity-subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0 27px 0;

    @extend %font-small;
    color: $hero-white-color;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.activity-list {
  display: flex;
  justify-content: center;

  .item {
    position: relative;
  }
}

/*отступы*/
.activity-list .item {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
}
.activity-list .item:nth-last-child(3n) {
  margin-left: 0;
}
