/* секция клиенты */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-img a {
  @extend %flex-center;
  transition: border $duration $function;

  width: 175px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover .clients-icon,
  &:focus .clients-icon {
    fill: $accent-color;
  }
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.section-clients .container {
  @extend %padding-tb;
}
/* клиенты - заголовок */
.section-clients .clients-title {
  margin-bottom: 50px;
  text-align: center;
  @extend %font-big;
}
.clients-icon {
  fill: #afb1b8;
  transition: fill $duration $function;
}
/* размеры и отступы */
.clients-list .item {
  width: calc((100% - 30px * 4) / 5);
  margin-right: 30px;
}
.clients-list .item:last-child {
  margin-right: 0;
}
