/* секция футер */
.footer {
  background-color: $fotter-background-color;

  .button {
    display: flex;
  }
  .container {
    display: flex;
    height: 252px;
    max-width: 1600px;
    justify-content: center;
  }
}

/*logo*/
.logo-invert {
  color: $hero-white-color;
  transition: color $duration $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/*контейнер adress-item */
.adress-item {
  padding-top: 60px;
  margin-right: 69px;

  .logo {
    margin-bottom: 20px;
  }
}
.location {
  margin-bottom: 9px;
}

/*контейнер social-list */
.social-list {
  padding-top: 72px;
  margin-right: 94px;
}

/*контейнер подписки */
.newsletter-list {
  padding-top: 72px;

  .button::after {
    content: '';
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-left: 10px;
    background-image: url('../images/icons/icon-send.svg');
  }
}
.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-button {
  border: transparent;
  outline: none;
  cursor: pointer;
}
.email {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $fotter-background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* адрес в футере */
.address-footer {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $hero-white-color;

  .mail {
    margin-bottom: 9px;
  }
  .contacts-footer {
    color: rgba(255, 255, 255, 0.6);
  }
}

/* футер соцсети */
.label {
  display: flex;

  .item a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color $duration $function;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.social-icon-footer {
  width: 20px;
  height: 20px;
}

.contacts-footer {
  transition: color $duration $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.social,
.newsletter {
  display: inline-block;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $button-white-text;
}

/*футер margin-right: 10px;*/
.social-list .item {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
}
.social-list .item:nth-child(4n) {
  margin-right: 0;
}
