.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;

  border-bottom: 1px solid #ececec;
  background-color: $primary-background-color;

  @media screen and (max-width: 767px) {
    padding: 16px 0 16px 15px;
  }

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }
}

/* контейнер выпадающего меню */
.menu-container {
  background-color: $header-background-color;
  &.is-open {
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    border-top: 1px solid #ececec;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.main-nav {
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

/* выпадающее меню - кнопка */
.menu-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .icon-cross {
    display: none;
  }

  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: $accent-color;
  }

  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

/*открытое-закрытое меню */
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

/*активная страница в шапке portfolio */
.portfolio .current {
  color: $button-white-text;
  background-color: $accent-color;
}

/* категории меню */
.site-nav .link {
  position: relative;
  transition: color $duration $function;

  display: block;

  color: $primary-title-color;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scaleX(1);
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
  }
}

.site-nav .link::after {
  position: absolute;
  transform: scaleX(0);
  transition: opacity $duration $function, transform $duration $function;

  bottom: 0;
  content: '';
  opacity: 0;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

.site-nav .link.current::after {
  opacity: 1;
  transform: scaleX(1);
}

/*меню*/
.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 85px;
    margin-right: 305px;
  }
}

/*отступы между категориями */
@media screen and (max-width: 767px) {
  .site-nav .item {
    margin-bottom: 40px;
  }
  .site-nav .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .item {
    margin-right: 50px;
  }
  .site-nav .item:last-child {
    margin-right: 0;
  }
}

/* контакты в шапке */
.contacts-header {
  text-align: center;

  a {
    transition: color $duration $function;
    align-items: center;

    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    color: #757575;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    @media screen and (min-width: 768px) {
      display: flex;

      font-size: 12px;
      line-height: 14px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
      line-height: 1.15;
    }
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }

  @media screen and (max-width: 767px) {
    .item {
      margin-bottom: 10px;
    }
    .item:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header .item + .item {
    margin-left: 30px;
  }
}

.tel-icon {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts .mail,
.contacts .tel {
  margin-right: 10px;
}
