/* секция герой */
.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/hero/Hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* заголовок герой */
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $hero-white-color;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 42px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

/* кнопка заказать и подписаться */
.button {
  display: inline-flex;
  min-width: 200px;
  padding: 10px 32px;

  color: $hero-white-color;
  background-color: $accent-color;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
}
